<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventário_e_dinheiro_RPG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Inventário_e_dinheiro_RPG.Properties.Settings>
            <setting name="Item1" serializeAs="String">
                <value />
            </setting>
            <setting name="Item2" serializeAs="String">
                <value />
            </setting>
            <setting name="Item3" serializeAs="String">
                <value />
            </setting>
            <setting name="Item4" serializeAs="String">
                <value />
            </setting>
            <setting name="Item5" serializeAs="String">
                <value />
            </setting>
            <setting name="Item6" serializeAs="String">
                <value />
            </setting>
            <setting name="Item7" serializeAs="String">
                <value />
            </setting>
            <setting name="Item8" serializeAs="String">
                <value />
            </setting>
            <setting name="Item9" serializeAs="String">
                <value />
            </setting>
            <setting name="Item10" serializeAs="String">
                <value />
            </setting>
            <setting name="Item11" serializeAs="String">
                <value />
            </setting>
            <setting name="Item12" serializeAs="String">
                <value />
            </setting>
            <setting name="Item13" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia1" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia2" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia3" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia4" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia5" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia6" serializeAs="String">
                <value />
            </setting>
            <setting name="Magia7" serializeAs="String">
                <value />
            </setting>
            <setting name="MagiaN1" serializeAs="String">
                <value />
            </setting>
            <setting name="MagiaN2" serializeAs="String">
                <value />
            </setting>
            <setting name="MagiaN3" serializeAs="String">
                <value />
            </setting>
            <setting name="MagiaN4" serializeAs="String">
                <value />
            </setting>
            <setting name="MagiaN5" serializeAs="String">
                <value />
            </setting>
            <setting name="Cristais" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dinheiro" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NomeArma1" serializeAs="String">
                <value />
            </setting>
            <setting name="NomeArma2" serializeAs="String">
                <value />
            </setting>
            <setting name="AtributoArma1" serializeAs="String">
                <value />
            </setting>
            <setting name="AtributoArma2" serializeAs="String">
                <value />
            </setting>
            <setting name="Ammo1" serializeAs="String">
                <value />
            </setting>
            <setting name="Ammo2" serializeAs="String">
                <value />
            </setting>
            <setting name="Anotations" serializeAs="String">
                <value />
            </setting>
        </Inventário_e_dinheiro_RPG.Properties.Settings>
    </userSettings>
</configuration>